@font-face {
  font-family: 'Electrolize';
  src: url('assets/Electrolize-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/Electrolize-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/Electrolize-Regular.ttf')  format('truetype');
}

#dststatus_label {
    font-family: 'Electrolize', Fallback, sans-serif;
    font-size: 28px;
    text-align: left;
}

#dststatus_label.status-info {
    color: white
}

#dststatus_label.status-success {
    color: #42ea33
}

#dststatus_label.status-error {
    color: red
}
